<!-- navbar -->
<nav class="navbar navbar-light bg-white sticky-top navbar-expand-lg mb-5">
    <div class="container-fluid d-flex flex-row-reverse">
<!-- TODO: Make Better Navbar And Menues -->
        <!-- logo -->
        <a class="navbar-brand ms-5" href="/"><img src="/images/logo.png" alt="logo"></a>

        <!-- toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- menu content -->
        <div class="collapse navbar-collapse me-3 text-end" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <span class="bi bi-house-fill d-inline-block"></span>
                    <a class="nav-link <%if(page === "home"){%> active <%}%>" aria-current="page" href="/">خانه</a>
                </li>
                
                <!-- Dashboard -->
                <% if (typeof locals.user === "object") { %>
                    <li class="nav-item">
                        <span class="bi bi-person-badge d-inline-block"></span>
                        <a class="nav-link <%if(page === "dashboard"){%> active <%}%>" href="/dashboard/">داشبورد</a>
                    </li>
                <% } %>

                <!-- Register & Login -->
                <% if (typeof locals.user === "undefined") { %>
                    <li class="nav-item">
                        <span class="bi bi-clipboard-plus d-inline-block "></span>
                        <a class="nav-link <%if(page === "register"){%> active <%}%>" href="/register/">ثبت نام</a>
                    </li>
                    <li class="nav-item">
                        <span class="bi bi-person d-inline-block "></span>
                        <a class="nav-link <%if(page === "login"){%> active <%}%>" href="/login/">ورود</a>
                    </li>
                <% } %>

                <!-- Logout -->
                <% if (typeof locals.user === "object") { %>
                    <li class="nav-item">
                        <span class="bi bi-power d-inline-block "></span>
                        <a class="nav-link" href="/logout/">خروج</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>