<div class="d-flex w-100 justify-content-center mt-5  ">
  <ul class="pagination pagination-sm">
    
    <!-- count number of pages and render proper pagination for it -->
    <% for( let i = 1; i <= totalPages; i++ ) { %>
      <a href="/articles/pages/<%= i %> ">
        <li class="page-item
            <% if (Number(currentPage) === i) { %>
              active" aria-current="page"
            <% } else { %>
              "
            <% } %>
            >
            <span class="page-link"><%= i %></span>
        </li>
      </a>
    <% } %>
  </ul>
</div>  