<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
<style>
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 97vh;
        text-align: center;

    }
    h1{
        color: orange;
        font-weight: 100;
        font-family: segoe ui;
        font-size: 6rem;
        text-shadow: 0 0 10px orange;
    }
</style>
</head>
<body>
    <div class="container">
        <h1>404 چیزی پیدا نشد</h1>
    </div>
</body>

</html>