nav:hover {
  box-shadow: 0px 0px 15px gray;
  transition: all 250ms linear;
}
nav .navbar-brand {
  padding: 0;
}
nav .navbar-brand img {
  display: inline-block;
  opacity: 0.5;
  width: 3rem;
  height: 3rem;
  transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
nav .navbar-brand img:hover {
  transform: scale(1.5) rotate(360deg);
  opacity: 1;
}
nav .nav-item {
  margin-left: 10px;
}
nav .nav-item:hover .nav-link,
nav .nav-item:hover span {
  transition: all 200ms linear;
  color: #0D4BDA !important;
  text-shadow: 0 0 1px black;
}
nav .nav-item span.bi {
  display: inline-block !important;
  font-size: 1.3rem;
}
nav .nav-item .nav-link {
  display: inline-block;
}

.alert {
  position: fixed;
  right: 25%;
  margin: 0 auto;
  width: 50%;
  z-index: 2000;
}
.alert-box {
  top: 4.3rem;
}

label {
  margin-bottom: 0.4rem;
}
label:not(:first-of-type) {
  margin-top: 1rem;
}

.dashboard-menu-button {
  width: 3rem;
  transition: all ease-in-out 0.2s;
  position: fixed;
  top: 60px;
  right: 20px;
  font-size: 2rem;
  color: #DF4C73;
  cursor: pointer;
}
.dashboard-menu-button:hover {
  font-size: 2.1rem;
}

aside {
  top: 110px;
  right: 0;
  padding: 2rem;
  border-block-start: 1rem solid #DF4C73;
  border-block-end: 1rem solid #DF4C73;
  border-radius: 10px 50px 0px;
  background-color: white;
  z-index: 2000;
  color: #DF4C73 !important;
}
aside .avatar {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}
aside .edit-avatar-icon {
  font-size: 1.4rem;
  top: 60px;
  right: 30%;
  cursor: pointer;
  color: orangered;
  transition: all 250ms;
}
aside .edit-avatar-icon:hover {
  color: orange !important;
  text-shadow: 1px 1px 2px yellow;
}
aside .nav-link:hover,
aside span:hover {
  transition: all 200ms linear;
  color: #0D4BDA !important;
  text-shadow: 0 0 1px black;
}
aside ul {
  margin: 0.5rem !important;
  padding: 0 !important;
}
aside ul li {
  margin-top: 0.5em;
  list-style-type: none;
}
aside ul li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.ql-editor {
  direction: rtl !important;
  text-align: start !important;
}

.ql-editor li:not(.ql-direction-rtl)::before {
  margin-left: 0em !important;
  margin-right: 0.3em;
  text-align: right;
}

#article {
  overflow: hidden;
}
#article img {
  display: block;
  width: 100%;
}

.article--preview {
  height: 270px !important;
}
.article--preview img {
  display: block;
  object-fit: fit;
  height: 100%;
}
.article--preview .article__box-left .btn {
  width: 5rem !important;
}

.card {
  overflow: hidden;
}
.card a {
  color: black;
  text-decoration: none;
}
.card__admin-mark {
  width: 100px;
  text-align: center;
  height: auto;
  color: white;
  text-shadow: 0 2px 3px black;
  background-color: slateblue;
  transform: rotate(-45deg) translate(-28px, -7px);
}
.card__avatar {
  object-fit: fill;
  display: block;
  width: 60px;
  height: 60px !important;
}
.card__user-articles, .card__delete-user, .card__reset-password {
  cursor: pointer;
}
.card__user-articles:hover {
  color: slateblue;
}
.card__reset-password:hover {
  color: greenyellow;
}
.card__delete-user:hover {
  color: orangered;
}

.comments {
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
}
.comments .comments__new-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.comments .comments__new-comment textarea {
  width: 30rem;
  color: red;
  resize: none !important;
  overflow: auto;
}

/*# sourceMappingURL=style.css.map */
